<div class="post-preview" data-post-id={{post.id}}>
  {{#link-to 'post' post}}
    <h2 class="post-title">
      {{post.title}}
    </h2>
    {{#if post.subtitle}}
      <h3 class="post-subtitle">
        {{post.subtitle}}
      </h3>
    {{/if}}
    {{/link-to}}
    <p class="post-meta">Geschreven door {{to-sentence words=post.authorNames}} op {{moment post.date 'LL'}}</p>
    {{#each post.categories as |category|}}
      <span class="label label-default">{{category.title}}</span>
    {{/each}}
</div>
