<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img alt="Brand" src="assets/images/logo.png" class='logo'></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://kabisa.nl/">{{t 'nav.home'}}</a></li>
        <li><a href="http://kabisa.nl/over-kabisa/">{{ t 'nav.about' }}</a></li>
        <li><a href="http://kabisa.nl/portfolio/">{{ t 'nav.portfolio' }}</a></li>
        <li><a href="http://kabisa.nl/werken-bij/">{{ t 'nav.careers' }}</a></li>
        {{#link-to 'posts' tagName='li' href=false}}
        {{#link-to 'posts' (query-params category='null') bubbles=false}}{{ t 'nav.blog' }}{{/link-to}}
        {{/link-to}}
        <li><a href="http://kabisa.nl/nieuws/">{{ t 'nav.news' }}</a></li>
        <li><a href="http://kabisa.nl/contact/">{{ t 'nav.contact' }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ t 'nav.language.title' }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href='#' {{ action 'setLocale' 'nl'}}>{{ t 'nav.language.nl' }}</a></li>
          <li><a href='#' {{ action 'setLocale' 'en'}}>{{ t 'nav.language.en' }}</a></li>
        </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
